@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: slategrey;
}

.search{
    display: flex;
    align-items: center;
    padding: 2px;
    height: 50px;
    background-color: white;
}
.input{
    background: none;
    border: none;
    outline: none;
    width: 0px;
    transition: .4s ease;
    color: black;
    font-size: 20px;
    
}
.input.open{
    width: 200px;
    padding: 5px;
}

.input::placeholder{
    color: black;
}
.btn{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 30px;
    padding: 0 10px;
}